
/* Barra amarilla vertical */
.yellow-bar {
    width: 7%; /* Más ancha */
    height: 100vh; /* Ocupa toda la altura de la sección */
    background-color: #FDFD1F;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* Para posicionar el texto correctamente */
    overflow: hidden; /* Para evitar desbordamientos */
}

.yellow-bar span {
    writing-mode: vertical-rl; /* Texto vertical */
    transform: rotate(0deg); /* Girar 180 grados */
    font-size: 1250%; /* Texto más grande */
    font-weight: bold;
    color: #000;
    white-space: nowrap; /* Evitar que el texto se divida en varias líneas */
    text-align: center; /* Centrar el texto horizontalmente */
    width: 100%; /* Ocupar todo el ancho de la barra */
    padding: 20px 20px; /* Espaciado vertical */

    color: transparent; /* Hacemos el texto transparente */
    background-image: repeating-linear-gradient(
        45deg, /* Líneas diagonales a 45 grados */
        rgba(0, 0, 0, 0.116), /* Color de las líneas con transparencia */
        rgba(0, 0, 0, 0.123) 1px, /* Grosor de las líneas */
        transparent 1px, /* Espacio transparente entre líneas */
        transparent 3px /* Separación entre líneas */
    );
    background-size: 500px 500px; /* Tamaño del patrón */
    background-clip: text; /* Aplicar el fondo solo al texto */
    -webkit-background-clip: text; /* Compatibilidad con navegadores WebKit */

}


/* Contenedor principal */
.blog-container {
    display: flex;
    flex: 1;
    gap: 20px;
    padding: 70px;
}


/* Lado izquierdo */
.left-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4vh;
    z-index: 10; /* Asegura que la left-side esté por encima de otras secciones */

}

.article-info {
    text-align: left;
    padding-bottom: 25%;
}


.article-title {
    font-size: 25px;
    margin: 0;
}

.article-number {
    font-size: 15px;
    padding-left: 5%;
    color: #666;
    margin: 5px 0 0;
}

.article-header {
    display: flex;
    position: relative;
    align-items: center; /* Centrado vertical */
    gap: 2vh;
    background-color: rgba(255, 255, 255, 0.466); /* Fondo blanco */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    width: fit-content; /* El ancho se ajusta al contenido */
    padding-left: 10%;
    line-height: 1.5;
}

.article-header h4::after{
    content: "BLOG"; /* Duplica el texto */
    position: absolute;
    top: -250px; /* Desplazamiento vertical de la sombra */
    left: 85px; /* Desplazamiento horizontal de la sombra */
    font-size: 20rem; /* Ajusta el tamaño de la fuente */
    font-weight: bold;
    color: transparent; /* Hace el texto transparente */
    z-index: -1; /* Coloca la sombra detrás del texto */
    background-image: repeating-linear-gradient(
        45deg, /* Líneas diagonales a 45 grados */
        rgba(0, 0, 0, 0.356), /* Color de las líneas con transparencia */
        rgba(0, 0, 0, 0.171) 0.1px, /* Grosor de las líneas */
        transparent 4px, /* Espacio transparente entre líneas */
        transparent 4px /* Separación entre líneas */
    );
    background-size: 100px 100px; /* Tamaño del patrón */
    background-clip: text; /* Aplicar el fondo solo al texto */
    -webkit-background-clip: text; /* Compatibilidad con navegadores WebKit */
}


.article-subtitle {
    font-size: 30px; /* Aumentamos el tamaño de la fuente */
    margin: 0;
    padding-left: 4%; /* Agregamos padding izquierdo */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.blog-link img {
    width: 70px;
    height: 70px;
}

.article-description {
    font-size: 15px;
    color: #333;
    height: 150px; /* Altura fija */
    overflow-y: auto; /* Scroll si el texto es largo */
    padding: 10px;
    border-radius: 5px;
    max-width: 650px;
    background-color: #c5c5c533;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    line-height: 1.8;
}


/* Carrusel */
.carousel-container {
    position: relative;
    width: 76%; /* Carrusel más ancho */
    max-width: 750px; /* Ancho máximo */
    margin: 0 0; /* Centrar el carrusel */
    overflow: hidden;
    padding: 0px 50px; /* Padding a los lados para las flechas */
}

.carousel {
    display: flex;
    gap: 10px;
    transition: transform 0.5s ease-in-out;  /* Animación suave */
    padding: 0 20px; /* Padding interno para los artículos */
}

.carousel-item {
    flex: 0 0 calc(33.333% - 10px); /* Mostrar 3 artículos */
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;    
}


.carousel-item img {
    max-width: 205; /* Ancho máximo más grande */
    max-height: 77px; /* Alto máximo más grande */
    width: auto;
    height: auto;
    border: 2px solid #ccc; /* Borde alrededor de la imagen */
    border-radius: 5px; /* Bordes redondeados */
    object-fit: contain; /* Ajustar la imagen sin distorsión */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 0, 0.432); /* Amarillo con transparencia */
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 5px; /* Bordes redondeados */
    pointer-events: none; /* Evitar que el overlay bloquee interacciones */
}

.carousel-item:hover .overlay {
    opacity: 1;
}

/* Botones de navegación */
.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: 18px;
    z-index: 10; /* Asegurar que los botones estén por encima del carrusel */
}

.carousel-button.prev {
    left: 3%; /* Mover el botón previo a la izquierda del carrusel */
}

.carousel-button.next {
    right: 1%; /* Mover el botón siguiente a la derecha del carrusel */
}



/* Lado derecho */
.right-side {
    flex: 1; /* Ocupa el espacio restante */
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 700px; /* Altura fija */
    width: 450px; /* Ancho fijo */
    overflow-y: auto; /* Habilita el scroll vertical */
    padding: 20px; /* Espaciado interno */
    background-color: #f9f9f9; /* Fondo gris claro */
    border-radius: 10px; /* Bordes redondeados */
}

.right-content {
    flex: 1; /* Ocupa el espacio restante */
    padding: 10px; /* Espaciado interno */
    
}

.right-title {
    font-size: 20px;
    margin: 0 0 10px;
}

.right-description {
    font-size: 14px;
    color: #333;
    line-height: 1.5;
}



/* Responsivo para pantallas menores a 1280px: Ocultar el lado derecho */
@media (max-width: 1280px) {
    .blog-container {
        display: flex;
        flex: 1;
        gap: 20px;
        padding: 70px;
        position: relative;
    }

    .right-side {
        position: absolute;
        right: 7%;
        top: 15%;
        display: flex;
        gap: 20px;
        height: 62%; /* Altura fija */
        width: 25%; /* Ancho fijo */
        overflow-y: auto; /* Habilita el scroll vertical */
        padding: 20px; /* Espaciado interno */
        border-radius: 10px; /* Bordes redondeados */
    }

    .article-description {
        font-size: 15px;
        text-align: center;
        color: #333;
        height: 25vh; /* Altura fija */
        overflow-y: auto; /* Scroll si el texto es largo */
        border: 1px solid #cccccc00;
        padding: 10px;
        border-radius: 5px;
        max-width: 60%;
    }

    
    .blog-container {
        flex-direction: row; /* Mantener la disposición en fila, pero con el lado derecho más pequeño */
    }

    .left-side {
        flex-direction: column;
        gap: 10px;
        padding-top: 11vh;
        z-index: 10; /* Asegura que la left-side esté por encima de otras secciones */

    }

    .article-info {
        text-align: left;
        padding-bottom: 17%;
    }
    
}

/* Pantallas más pequeñas (1024px, 768px) */
@media (max-width: 1024px) {
    .right-side {
        display: none; /* Esconde el lado derecho */
    }

    .article-info {
        text-align: left;
        padding-bottom: 3%;
    }

    .left-side {
        display: flex; /* Usar flexbox para centrar el contenido */
        flex-direction: column; /* Asegura que el contenido esté en columna */
        justify-content: center; /* Centra verticalmente */
        text-align: left;
        height: 100vh; /* Ocupa toda la altura de la pantalla */
        width: 100%; /* Ocupa todo el ancho */
        padding-left: 55vh;
        z-index: 10; /* Asegura que la left-side esté por encima de otras secciones */
      
    }

    .article-title {
        font-size: 25px;
        text-align: left;
    }

    .article-subtitle {
        font-size: 50px;
        text-align: left;
        padding-left: -10vh;
    }

    .article-description {
        font-size: 14px;
        width: 150vh;
        padding-bottom: 7vh;
    }

    .carousel-container {
        position: relative;
        width: 55%; /* Carrusel más ancho */
        max-width: 750px; /* Ancho máximo */
        margin: 0 0; /* Centrar el carrusel */
        overflow: hidden;
        padding: 0px 50px; /* Padding a los lados para las flechas */
    }
}

/* Pantallas más pequeñas (1024px, 768px) */
@media (max-width: 900px) {
    .right-side {
        display: none; /* Esconde el lado derecho */
    }

    .article-info {
        text-align: left;
        padding-bottom: 3%;
    }

    .left-side {
        display: flex; /* Usar flexbox para centrar el contenido */
        flex-direction: column; /* Asegura que el contenido esté en columna */
        justify-content: center; /* Centra verticalmente */
        align-items: center;

        text-align: center;
        height: 100vh; /* Ocupa toda la altura de la pantalla */
        width: 100%; /* Ocupa todo el ancho */
        padding-left: 40vh;
        z-index: 10; /* Asegura que la left-side esté por encima de otras secciones */
        max-width: 60%;
    }

    .article-title {
        font-size: 25px;
        text-align: left;
    }

    .article-subtitle {
        font-size: 50px;
        text-align: left;
        padding-left: -2vh;
    }

    .article-description {
        font-size: 14px;
        width: 150vh;
        padding-bottom: 7vh;
    }

    .carousel-container {
        position: relative;
        width: 50%; /* Carrusel más ancho */
        max-width: 750px; /* Ancho máximo */
        margin: 0 0; /* Centrar el carrusel */
        overflow: hidden;
        padding: 0px 50px; /* Padding a los lados para las flechas */
    }
}




/* Pantallas extra pequeñas (480px o menos) */
@media (max-width: 480px) {
    .right-side {
        display: none; /* Esconde el lado derecho */
    }

    .article-info {
        text-align: left;
        padding-bottom: 3%;
        display: none;
    }

    .left-side {
        display: flex; /* Usar flexbox para centrar el contenido */
        flex-direction: column; /* Asegura que el contenido esté en columna */
        justify-content: center; /* Centra verticalmente */
        align-items: center;

        text-align: center;
        height: 100vh; /* Ocupa toda la altura de la pantalla */
        width: 100%; /* Ocupa todo el ancho */
        padding-left: 92vh;
        z-index: 10; /* Asegura que la left-side esté por encima de otras secciones */
        max-width: 25%;
    }

    .article-title {
        display: none;
        font-size: 25px;
        text-align: left;
    }

    .article-subtitle {
        font-size: 25px;
        text-align: left;
        padding-left: -2vh;
    }

    .article-description {
        font-size: 14px;
        width: 150vh;
        padding-bottom: 7vh;
    }

    .carousel-container {
        position: relative;
        width: 50%; /* Carrusel más ancho */
        max-width: 750px; /* Ancho máximo */
        margin: 0 0; /* Centrar el carrusel */
        overflow: hidden;
        padding: 0px 50px; /* Padding a los lados para las flechas */
    }
}

/* Pantallas de móvil (360px, 320px) */
@media (max-width: 360px) {
    .article-title {
        font-size: 20px;
    }

    .blog-link img {
        width: 45px;
        height: 45px;
    }

    .article-subtitle {
        font-size: 25px;
        text-align: left;
        max-width: 60%;
    }

    .article-description {
        font-size: 10px;
    }
}